.qa-item {
	visibility: hidden;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

	&--active {
		visibility: visible;
		opacity: 1;
		transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	}
	&__question {
		max-width: 500px;

		margin-bottom: 50px;

		color: var(--color-white);

		font-size: 58px;
		line-height: 70px;
		@media (max-width: $md3) {
			margin-bottom: 25px;

			font-size: 32px;
			line-height: 40px;
		}
	}

	&__answer {
		max-width: 500px;

		margin-bottom: 20px;
		color: var(--color-white);

		font-size: 20px;
		line-height: 26px;
		@media (max-width: $md3) {
			margin-bottom: 15px;

			font-size: 16px;
			line-height: 20px;
		}
	}

	&__link {
		position: relative;

		color: var(--color-white);

		font-size: 20px;
		line-height: 26px;
		transition: color 0.3s ease;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 1px;

			background-color: var(--color-white);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;

			width: 0;
			height: 1px;

			will-change: width;
			background-color: var(--color-red);
			transition: width 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-red);
				&::after {
					width: 100%;
					transition: width 0.3s ease;
				}
			}
		}
		@media (max-width: $md3) {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
