:root {
	--color-bg: #fff;
	--color-white: #fff;
	--color-black: #000;
	--color-silver: #999999;
	--color-red: #e8244f;
	--color-gray: #181818;
}

/* .light-theme {
	--color-bg: #fff;
}
.dark-theme {
	--color-bg: #191919;
} */

$fz-text: 20px;
$fz-heading: 114px;

$ff: "Roboto", sans-serif;

$minWidth: 320;
$maxWidth: 1440px; // Разрешение макета
$maxWidthContainer: 1265px; // Разрешение контейнера

$md1: $maxWidthContainer + 15px; //desktop
$md2: 991.98px; // Tablet
$md3: 767.98px; // Mobile #1
$md4: 479.98px; // Mobile #2
