<section class="about" id="about">
	<div class="about__container container">
		<h2 class="about__heading main-heading text-reset">
			Prawdziwe historie
		</h2>
		<div class="about__info">
			<p class="about__text text-reset">
				Zapraszamy do lektury historii klientów, partnerów i przyjaciół, z którymi mamy przyjemność wędrować drogą
				rozwoju i przedsiębiorczości.
			</p>
			<p class="about__text text-reset">
				Każda historia jest inna, bo stoją za nimi unikalne organizacje tworzone przez ludzi obdarzonych wyjątkowymi
				pomysłami, talentami i doświadczeniami.
			</p>
		</div>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/1.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia transformacji zwinnej ADMIND - Krzysztof Langer, CEO i współwłaściciel
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/2.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia transformacji cyfrowej Santander Consumer Multirent - Piotr Jasicki, członek zarządu
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/3.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia transformacji biznesowej TONY - Mateusz Biegaj, pomysłodawca i współwłaściciel
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/4.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia transformacji cyfrowej ANSEE - Piotr Szmigiel, członek zarządu
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/5.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia partnerstwa strategicznego z FICTURO - Paulina Jarosz, współwłaścicielka marki
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/6.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia startupu GLOBAL LIGNUM - Dominik Szkwarek, pomysłodawca i właściciel
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/7.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia transformacji zwinnej ADMIND - Krzysztof Langer, CEO i współwłaściciel
			</h3>
		</article>
		<article class="about__card card">
			<div class="card__image">
				<img src="img/card/8.jpg" alt="Photo of person" class="card__img">
			</div>
			<h3 class="card__heading text-reset">
				Historia transformacji biznesowej EXSO - Marcin Kuczyński, współwłaściciel i prezes zarządu
			</h3>
		</article>
		<div class="about__card about__card--empty "></div>
		<div class="about__blockquote blockquote">
			<q class="blockquote__text text-reset">
				Jesteśmy złączeni dzięki historiom
			</q>
			<footer class="blockquote__footer">– Arystoteles, <span class="blockquote__time">384-322 p.n.e.</span>
			</footer>
		</div>
	</div>
</section>