<section class="bussines">
	<div class="bussines__container container">
		<h2 class="bussines__heading text-reset">
			Pomagamy rozwijać biznesy gotowe na nowe czasy
		</h2>
		<div class="bussines__image">
			<img loading="lazy" src="img/person-blue.jpg" class="bussines__img" alt="Maciej Gawlik">
		</div>
		<div class="bussines__image">
			<img loading="lazy" src="img/person-red.jpg" class="bussines__img" alt="Przemysław Skrzek">
		</div>
		<div class="bussines__info">
			<p class="bussines__text text-reset">
				Wierzymy, że organizacje mogą być bardziej skuteczne, a pracujący w nich ludzie żyć szczęśliwie, budować
				wartość i zmieniać świat na lepsze.
			</p>
			<div class="bussines__signatures">
				<div class="bussines__item">
					<img loading="lazy" src="img/signature.jpg" class="bussines__signature" alt="Przemysław Skrzek">
					<span class="bussines__name">
						Przemysław Skrzek
					</span>
				</div>
				<div class="bussines__item">
					<img loading="lazy" src="img/signature2.jpg" class="bussines__signature" alt="Przemysław Skrzek">
					<span class="bussines__name">
						Maciej Gawlik
					</span>
				</div>
			</div>
		</div>
	</div>
</section>