<footer class="footer" id="footer">
	<div class="footer__container container">
		<h2 class="footer__heading subheading subheading--white text-reset">
			umów się na bezpłatną konsultację
		</h2>
		<address class="footer__contacts contacts text-reset">
			<a href="mailto:hello@leanspin.pl" class="contacts__link link-reset">hello@leanspin.pl</a>
			<a href="tel:48534999080" class="contacts__link link-reset">+48 534 999 080</a>
		</address>
		<div class="footer__row">
			<address class="footer__location  text-reset">
				<span class="footer__text ">
					Studio LEANSPIN, Gałczyńskiego 33
				</span>
				<span class="footer__text ">
					52-214 Wrocław, Polska
				</span>
			</address>
			<ul class="footer__social social list-reset">
				<li class="social__item">
					<a href="#facebook" class="social__link link-reset">
						<svg>
							<use xlink:href="img/sprite.svg#facebook-min"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a href="#in" class="social__link link-reset">
						<svg>
							<use xlink:href="img/sprite.svg#in-min"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__info">
			<small class="footer__copy text-reset">
				© 2021 Copyright LEANSPIN
			</small>
			<a href="#politic" class="footer__politic link-reset">
				Polityka prywatności
			</a>
			<span class="footer__design ">
				Design: Ficturo
			</span>
		</div>
	</div>
	<button class="footer__btn btn-reset">
		wróć do góry
	</button>
</footer>