<header class="header fixed-padding" id="header">
	<div class="header__container container">
		<a class="header__logo link-reset">
			<img src="img/logo.png" alt="Logo" class="header__img">
		</a>
		<nav class="header__nav nav" aria-labelledby="burger">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#help" class="nav__link link-reset">KNOW-HOW</a>
				</li>
				<li class="nav__item">
					<a href="#about" class="nav__link link-reset">O NAS</a>
				</li>
				<li class="nav__item">
					<a href="#inspiration" class="nav__link link-reset">BLOG</a>
				</li>
				<li class="nav__item">
					<a href="#footer" class="nav__link link-reset">KONTAKT</a>
				</li>
			</ul>
		</nav>
		<button class="header__burger burger btn-reset" id="burger" aria-label="Open Menu" aria-expanded="false">
			<span class="burger__line"></span>
		</button>
	</div>
</header>