<section class="help" id="help">
	<div class="help__container container">
		<h2 class="help__heading subheading text-reset">
			Jak możemy pomóc
		</h2>
		<ul class="help__list list-reset">
			<li class="help__item">
				<p class="help__type text-reset">
					Transformacje
				</p>
				<div class="help__info">
					<h3 class="help__title text-reset">
						Agile Lean Brand Digital innovation
					</h3>
					<div class="help__icon">
						<svg class="help__arrow">
							<use xlink:href="img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<a href="#" class="help__link" aria-label="Visit"></a>
			</li>
			<li class="help__item">
				<p class="help__type text-reset">
					Wsparcie
				</p>
				<div class="help__info">
					<h3 class="help__title text-reset">
						Doradztwo ・Narzędzia ・Coaching menedżerski
					</h3>
					<div class="help__icon">
						<svg class="help__arrow">
							<use xlink:href="img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<a href="#" class="help__link" aria-label="Visit"></a>
			</li>
			<li class="help__item">
				<p class="help__type text-reset">
					Rozwój
				</p>
				<div class="help__info">
					<h3 class="help__title text-reset">
						Warsztaty・Symulacje ・Szkolenia hybrydowe
					</h3>
					<div class="help__icon">
						<svg class="help__arrow">
							<use xlink:href="img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<a href="#" class="help__link" aria-label="Visit"></a>
			</li>
			<li class="help__item">
				<p class="help__type text-reset">
					Przedsiębiorczość
				</p>
				<div class="help__info">
					<h3 class="help__title text-reset">
						Mentoring・Relacje wspólnicze・Nowy biznes
					</h3>
					<div class="help__icon">
						<svg class="help__arrow">
							<use xlink:href="img/sprite.svg#arrow"></use>
						</svg>
					</div>
				</div>
				<a href="#" class="help__link" aria-label="Visit"></a>
			</li>
		</ul>
	</div>
</section>