<section class="hero" id="hero">
	<div class="hero__container container">
		<div class="hero__promo">
			<h1 class="hero__heading main-heading text-reset">
				<span class="hero__first-line">
					<span class="hero__spin">Spin!</span>
					[re]designing</span>
				<span class="hero__second-line">your business</span>
			</h1>
		</div>
		<div class="hero__info">
			<p class="hero__text main-text text-reset">
				Pomagamy rozwijać progresywne firmy, zespoły i kompetencje w coraz szybciej zmieniającym się świecie.
			</p>
			<div class="hero__block">
				<p class="hero__text hero__meet main-text text-reset">
					Poznajmy się!
				</p>
				<a href="#footer" class="hero__link link-reset">Umów się na bezpłatną konsultację</a>
			</div>
		</div>
	</div>
</section>