<section class="inspiration" id="inspiration">
	<div class="inspiration__container container">
		<div class="inspiration__info">
			<h2 class="inspiration__heading main-heading text-reset">
				Inspiracje
			</h2>
			<p class="inspiration__text text-reset">
				Rozwój to umiejętność patrzenia na świat przez pryzmat różnorodności doświadczeń otaczających nas osób.
				Dzielimy się tym, co nas „kręci” i dziękujemy za wszelkie inspiracje, które nadają sens naszym działaniom.
			</p>
		</div>
		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/1.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				Braterstwo broni ...
			</h3>
		</article>



		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/2.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				Droga ku zwinności ...
			</h3>
		</article>

		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/3.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				Od dobrego do wielkiego ...
			</h3>
		</article>

		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/4.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				O czarnych łabędziach...
			</h3>
		</article>

		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/5.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				Pułapki postępu ...
			</h3>
		</article>

		<div class="inspiration__blockquote blockquote">
			<q class="blockquote__text text-reset">
				Inspiracja istnieje, ale musi zastać cię przy pracy!
			</q>
			<footer class="blockquote__footer">– Pablo Picasso, <time datetime="1881-05-15 00:00"
					class="blockquote__time">1881-1973 n.e.</time>
			</footer>
		</div>

		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/6.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				Mistrzowskie pierścienie ...
			</h3>
		</article>

		<article class="inspiration__card card">
			<div class="card__image">
				<img src="img/books/7.jpg" alt="Photo of book" class="card__img">
			</div>
			<span class="card__tag">empowerment, przywództwo, zespół</span>
			<h3 class="card__heading text-reset">
				Projekt Feniks ...
			</h3>
		</article>
	</div>
	<div class="inspiration__running-line running-line">
		<div class="running-line__row ">
			<div class="running-line__item ">
				<span class="running-line__word main-heading  running-line__word--black">
					think big.
				</span>
				<span class="running-line__word main-heading">
					think big.
				</span>
				<span class="running-line__word main-heading">
					think big.
				</span>
			</div>
			<div class="running-line__item">
				<span class="running-line__word main-heading  running-line__word--black">
					think big.
				</span>
				<span class="running-line__word main-heading">
					think big.
				</span>
				<span class="running-line__word main-heading">
					think big.
				</span>
			</div>
		</div>
		<div class="running-line__row ">
			<div class="running-line__item ">
				<span class="running-line__word main-heading ">
					start small.
				</span>
				<span class="running-line__word main-heading  running-line__word--black">
					start small.
				</span>
				<span class="running-line__word main-heading">
					start small.
				</span>
			</div>
			<div class="running-line__item">
				<span class="running-line__word main-heading ">
					start small.
				</span>
				<span class="running-line__word main-heading  running-line__word--black">
					start small.
				</span>
				<span class="running-line__word main-heading">
					start small.
				</span>
			</div>
		</div>
		<div class="running-line__row ">
			<div class="running-line__item">
				<span class="running-line__word main-heading ">
					move smart.
				</span>
				<span class="running-line__word main-heading  ">
					move smart.
				</span>
				<span class="running-line__word main-heading  running-line__word--black">
					move smart.
				</span>
			</div>
			<div class="running-line__item ">
				<span class="running-line__word main-heading ">
					move smart.
				</span>
				<span class="running-line__word main-heading ">
					move smart.
				</span>
				<span class="running-line__word main-heading  running-line__word--black">
					move smart.
				</span>
			</div>
		</div>
	</div>
</section>