<section class="qa">
	<div class="qa__container container">
		<h2 class="visually-hidden">Pytania i odpowiedzi</h2>
		<ul class=" qa__topics topics list-reset">
			<li class="topics__item">
				<button class="topics__btn btn-reset" id="qa1" data-path="1" aria-controls="q1" aria-expanded="false">
					agile
				</button>
			</li>
			<li class="topics__item">
				<button class="topics__btn btn-reset" id="qa2" data-path="2" aria-controls="q2" aria-expanded="false">
					evidence
				</button>
			</li>
			<li class="topics__item">
				<button class="topics__btn  btn-reset" id="qa3" data-path="3" aria-controls="q3" aria-expanded="false">
					empowerment
				</button>
			</li>
			<li class="topics__item">
				<button class="topics__btn btn-reset" id="qa4" data-path="4" aria-controls="q4" aria-expanded="false">
					innovation
				</button>
			</li>
		</ul>
		<div class="qa__questions">
			<div class="qa__item qa-item" id="q1" aria-labelledby="qa1" data-path="1">
				<p class="qa-item__question text-reset">
					Czy zarządzasz w efektywny sposób?
				</p>
				<p class="qa-item__answer text-reset">
					Wbuduj zwinność w DNA Twojej organizacji i osiągaj 2 razy więcej w 2 razy krótszym czasie, będąc gotowym
					na zmiany, które nadejdą.
				</p>
				<a href="#" class="qa-item__link link-reset">
					Sprawdź szczegóły
				</a>
			</div>
			<div class="qa__item qa-item" id="q2" aria-labelledby="qa2" data-path="2">
				<p class="qa-item__question text-reset">
					2. Lorem ipsum dolor sit amet. Perspiciatis, aut?
				</p>
				<p class="qa-item__answer text-reset">
					2. Lorem ipsum dolor sit amet consectetu. Odit maiores officiis esse, magnam dolorum. Sint libero eos
					sapiente, repudiandae quo sunt obcaecati provident placeat.
				</p>
				<a href="#" class="qa-item__link link-reset">
					Sprawdź szczegóły
				</a>
			</div>
			<div class="qa__item qa-item" id="q3" aria-labelledby="qa3" data-path="3">
				<p class="qa-item__question text-reset">
					3. Lorem ipsum dolor sit amet. Perspiciatis, aut?
				</p>
				<p class="qa-item__answer text-reset">
					3. Lorem ipsum dolor sit amet consectetu. Odit maiores officiis esse, magnam dolorum. Sint libero eos
					sapiente, repudiandae quo sunt obcaecati provident placeat.
				</p>
				<a href="#" class="qa-item__link link-reset">
					Sprawdź szczegóły
				</a>
			</div>
			<div class="qa__item qa-item" id="q4" aria-labelledby="qa4" data-path="4">
				<p class="qa-item__question text-reset">
					4. Lorem ipsum dolor sit amet. Perspiciatis, aut?
				</p>
				<p class="qa-item__answer text-reset">
					4. Lorem ipsum dolor sit amet consectetu. Odit maiores officiis esse, magnam dolorum. Sint libero eos
					sapiente, repudiandae quo sunt obcaecati provident placeat.
				</p>
				<a href="#" class="qa-item__link link-reset">
					Sprawdź szczegóły
				</a>
			</div>
		</div>
		<div class="qa__topics-line" aria-hidden="true">
			<span class="qa__topic">
				agile
			</span>
			<span class="qa__topic">
				evidence
			</span>
			<span class="qa__topic ">
				empowerment
			</span>
			<span class="qa__topic">
				innovation
			</span>
		</div>
	</div>
</section>