<section class="sponsor">
	<div class="sponsor__container container">
		<h2 class="sponsor__heading subheading text-reset">
			Zaufali nam
		</h2>
		<ul class="sponsor__list list-reset">
			<li class="sponsor__item">
				<img src="img/sponsors/1.jpg" alt="Sponsor 'Admind'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/2.jpg" alt="Sponsor 'AKAT'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/3.jpg" alt="Sponsor 'CORNER'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/4.jpg" alt="Sponsor 'Reacto'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/5.jpg" alt="Sponsor 'Santander Bank'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/6.jpg" alt="Sponsor 'setup.pl'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/7.jpg" alt="Sponsor 'exso'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/8.jpg" alt="Sponsor 'alfa-net'" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/9.jpg" alt="Sponsor 'TBM '" class="sponsor__img">
			</li>
			<li class="sponsor__item">
				<img src="img/sponsors/10.jpg" alt="Sponsor 'Bussiness Reporting Solutions'" class="sponsor__img">
			</li>
		</ul>
	</div>
</section>